<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="main">
        <f:format.raw>{structuredData}</f:format.raw>
    </f:section>
</div>